@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 20px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,
.footer{
  display: flex;
  justify-content: space-between;
}

.footer{
  background-color: #eee;
}

ul {
  list-style-type: none;
  gap: 20px;
  padding: 20px;
  margin:0px;
}

a{
  text-decoration: none;
  color: gray;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.left-links,
.right-links{
  display: flex;
}
