/* Add CSS Styling */
/* all odd numbered elements: */

.odd{
    background-color: lightpink;
    font-family: Verdana, DejaVuSans, sans-serif;
}

#two{
    color: blue;
    font-size: 32px;
}

#three{
    font-size: 36px;
}

#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}