*{
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding:8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 8px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  display: block;
  background: white;
  font-size: 14px;
  border: 1px solid #eee;
  margin-left: 130px;
  padding:10px;
  padding-left:30px;
  padding-right: 30px;
}